<!doctype html>
<html>
    <head>
        <title>Tasks</title>
    </head>
    <body>
        {% if 'name' in session %}
            <h1>Welcome, {{ session.get('name') }}!</h2>
        {% endif %}
        <br/>
        <h2>Tasks</h2>
        <ul>
            {% for task in tasks %}
            <li>{{ task[2] }}</li>
            {% endfor %}
        </ul>
        <a href="{{ url_for('add') }}">Add Task</a>
        <a href="{{ url_for('logout') }}">Logout</a>
        {% if session.get('role') == 'admin' %}
        <a href="{{ url_for('admin') }}">Admin</a>
        {% endif %}
        {% if session.get('role') == 'vip' %}
        <a href="{{ url_for('vip') }}">VIP</a>
        {% endif %}
    </body>
</html>
