<!doctype html>
<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <h2>Disciplina: Desenvolvimento Web Seguro</h2>
        <h2>Atividade avaliativa 2: Autenticação e Autorização</h2>
        Alunos: 
        <ul>
            <li>Fernando Mendes Diniz</li>
            <li>Leonardo Bonn Nogueira Bastos</li>
            <li>Luiz Guilherme Barcellos</li>
        </ul>
        <br/>
        <h1>Login</h1>
        <form method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username">
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
            <br>
            <button type="submit">Login</button>
        </form>
    </body>
</html>
